<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>
        <h2 class="title">Edit Room Info</h2>        

        <form action="/admin/hotel/doEdit" method="POST">
            <input type="hidden" name="id" value="{{@list._id}}"/>
            <br>
            name      ： <input type="text" name="name" value="{{list.name}}"/>
            <br>
            telephone ： <input type="text" name="telephone" value="{{list.telephone}}"/>
            <br>
            address   ： <input type="text" name="address" value="{{list.address}}"/>
            <br>
            <button type="submit">submit</button>
        </form>


    </body>
</html>