<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>
        <h2 class="title">Room Table</h2>        

        <br>

        <a href="/admin/hotel/add">add hotel</a>

        <br>
        <br>

        <table class="table">

            <tr>
                <th>name</th>
                <th>type</th>
                <th>price</th>
                <th>status</th>
            </tr>

            {{each list}}
            <tr>
                <td>{{$value.username}}</td>
                <td>{{$value.password}}</td>
                <td>{{$value.isSuper}}</td>
                <td><a href="/admin/hotel/edit?id={{@$value._id}}">edit</a> <a href="/admin/hotel/delete?id={{@$value._id}}">delete</a> </td>
            </tr>
            {{/each}}
            
        </table>


    </body>

</html>