<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>
        <h2 class="title">hotel Info</h2>        
        <br>
        <a href="/admin">回到首页</a>
        <br>
        <br>
        <br>
        <br>
        <br>


        <table class="table">

            <tr>
                <th>name</th>
                <th>telephone</th>
                <th>address</th>
                <th>introduction</th>
                <th>status</th>
                <th>decorateTime</th>
                <th>singleRoomPrice</th>
                <th>doubleRoomPrice</th>
                <th></th>
            </tr>

            {{each list}}
            <tr>
                <td>{{$value.name}}</td>
                <td>{{$value.telephone}}</td>
                <td>{{$value.address}}</td>
                <td>{{$value.introduction}}</td>
                <td>{{$value.status}}</td>
                <td>{{$value.decorateTime}}</td>
                <td>{{$value.singleRoomPrice}}</td>
                <td>{{$value.doubleRoomPrice}}</td>

                <td><a href="/admin/hotel/edit?id={{@$value._id}}">edit</a>  </td>
            </tr>
            {{/each}}
            
        </table>


    </body>

</html>