<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="css/head.css">
    </head>

    <body>
        <h2 class="title">admin</h2>        
        <br>
        <a href="/index/logout">退出登录</a>
        <br>
        <br>
        <a href="/admin">回到首页</a>
        <br>
        <br>
        <br>
        <br>
        <a href="/admin/order">order</a>
        <br>
        <a href="/admin/room">room</a>
        <br>
        <a href="/admin/hotel">hotel</a>
        <br>
        <a href="/admin/advice">advice</a>
        <br>
        <a href="/admin/user">user</a>
        <br>
    </body>
</html>