<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>
        <h2 class="title">Add Room</h2>        

        <form action="/admin/room/doAdd" method="POST">
            <br>
            room name  ：<input type="text" name="roomName"/>
            <br>
            room type  : <input type="text" name="roomType"/>
            <br>
            room price ：<input type="text" name="roomPrice"/>
            <br>
            room status：<input type="text" name="roomStatus"/>
            <br>
            <button type="submit">submit</button>
        </form>


    </body>
</html>