<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>
        <h2 class="title">Edit Room Info</h2>        

        <form action="/admin/room/doEdit" method="POST">
            <input type="hidden" name="id" value="{{@list._id}}"/>
            <br>
            room name  ：<input type="text" name="roomName" value="{{list.roomName}}"/>
            <br>
            room type  : <input type="text" name="roomType" value="{{list.roomType}}"/>
            <br>
             room stddatus：
            <select name="roomStatus" id="roomStatus">
                <option value="可入住">可入住</option>
                <option value="不可入住">不可入住</option>

            </select>
            <br> 



            <button type="submit">submit</button>
        </form>


    </body>
</html>