<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>
        <h2 class="title">Room Table</h2>        

        <br>

        <a href="/admin/room/add">add room</a>

        <br>
        <br>

        <table class="table">

            <tr>
                <th>name</th>
                <th>type</th>
                <th>price</th>
                <th>status</th>
            </tr>

            {{each list}}
            <tr>
                <td>{{$value.roomName}}</td>
                <td>{{$value.roomType}}</td>
                <td>{{$value.roomPrice}}</td>
                <td>{{$value.roomStatus}}</td>
                <td><a href="/admin/room/edit?id={{@$value._id}}">edit</a> <a href="/admin/room/delete?id={{@$value._id}}">delete</a> </td>
            </tr>
            {{/each}}
            
        </table>


    </body>

</html>