<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>
        <h2 class="title">Edit Status</h2>        

        <form action="/admin/order/doEdit" method="POST">
            <input type="hidden" name="id" value="{{@list._id}}"/>
            <br>
            <select name="status" id="status">
                <option value="not pay">已创建，未支付</option>
                <option value="paid">已支付，未入住</option>
                <option value="living">已入住，未离店</option>
                <option value="leave">已完成</option>

            </select>
            <br> 
            <button type="submit">submit</button>
        </form>


    </body>
</html>