<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>
        <h2 class="title">Advice Table</h2>        
        <br>
        <a href="/admin">回到首页</a>
        <br>
        <br>
        <br>
        <br>
        <br>

        <table class="table">

            <tr>
                <th>info</th>
            </tr>

            {{each list}}
            <tr>
                <td>{{$value.advice}}</td>
                <td><a href="/admin/advice/delete?id={{@$value._id}}">delete</a> </td>
            </tr>
            {{/each}}
            
        </table>


    </body>

</html>